@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

$primary-color: #FFF0F7;
$secondary-color: #9d2c71;
$third-color: rgb(157,44,113,255) 0px 20px 30px -10px;
$four-color: #382B4F;
$font-stack: "Playfair Display", serif;

.slick-prev:before, .slick-next:before {
  opacity: 0;
  color: transparent;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main{
  display: flex;
  background-color: $primary-color;
  flex-direction: column;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.box-logo{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
}

.logo{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: $third-color;
}


.btn-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.btn {
  font-family: $font-stack;
  color: $secondary-color;
  font-size: 2.2rem;
  width: 15rem; /* Corrigido o erro na largura */
  height: 5rem; /* Adicionado a altura */
  border: none; 
  border-radius: 0.6rem;  
  position: relative;
  overflow: hidden;
  transition: color 1.6s, background 1.6s;
  background-color: transparent;
  margin: 1.2rem;
  display: block;
  cursor: pointer;
}

.btn::after{
  content: " ";
  width: 0%;
  background-color: $secondary-color;
  border-bottom: 0.1rem solid $secondary-color;
  transition: 1.5s;
  position: absolute;
  bottom: 0;
  left: 0;
 }

 .btn:hover::after{
  width: 100%;
 }


.socialMedia{
  display: flex;
  align-items: center;
  margin: 1.3rem;
  box-shadow: rgb(157, 62, 62) 0px 20px 30px -10px;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 1.6s ease-in-out;  
  transition: box-shadow 0.2s ease-in-out; 
}

.socialMedia:hover{
  transition: 1.6s;
  transform: scale(1.5); 
  box-shadow: 0 15px 15px rgba(0,0,0,0.6);
}

.body1{
  display: flex;
  background: rgb(157,44,113);
  background: linear-gradient(180deg, rgba(157,44,113,1) 0%, rgba(159,159,159,0) 40%);
  justify-content: space-evenly;
}

.perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.perfil1{
  width: 100%rem;
  margin-bottom: 2rem;
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.ImgFotox{
  width: 50rem;
  height: 60rem;
  padding: 3.5rem;
  border-right: linear-gradient(to right, transparent, $secondary-color, transparent);
  background-image: url(./Imagens/peakpx.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-mid{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.6rem;
}

.name{
  font-size: 1.5rem;
  font-family: $font-stack;
  color: $secondary-color;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

// .fname{
//  font-size: 2.0rem;
//  font-size: 4.1rem;
//  font-family: $font-stack;
//  color: $primary-color;
// }

.text{
  width: 100%rem;
}

.namex{
  width: 100%;
  font-size: 3.2rem;
  font-weight: 500;
  font-family: $font-stack;
  color: $secondary-color;
  background: rgb(157,44,113);
  background: linear-gradient(338deg, rgba(157,44,113,1) 0%, rgba(255,255,255,0) 19%);
  padding: 1.3rem;
}

.nameA{
  font-size: 0.9rem;
  font-weight: 600;
  font-family: $font-stack;
  color: $primary-color;
  padding: 0.5rem;
}

.line{  
  height: 1px; /* altura da linha */
  background: linear-gradient(to right, transparent, $secondary-color, transparent);
  margin-bottom: 2rem;
}

.perfil1 {
  position: relative; /* Para garantir que o gradiente fique por cima do conteúdo */
  padding-right: 1px; /* Adiciona espaço para o gradiente ocupar */
}

.perfil1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
  width: 1px; /* Largura do gradiente */
  background: linear-gradient(to bottom, transparent, $secondary-color, transparent);
}

.nameMid{
  font-size: 3rem;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Slider{
  width: 80rem;
  height: 25rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  
}

.slider-box{
  width: 100%;
  height: 30rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider-box-order{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 25rem;
  background-image: url(./Imagens/backgroundBox.png);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.slider-box-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.imgCarrousel{
  width: 25rem;
  height: 25rem;
  border-radius: 12%;
  padding: 1.8rem;
  
}

.button11{
  margin-top: 1.3rem;
}

$speed: 0.5s;

.btn-slider{
  opacity: 1;
	outline: 0;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans';
	text-transform: uppercase;
  
	
	&:hover{
		
		&:after{
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		
		&:before{
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}
	
	&:after{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: $secondary-color;
		display: block;
		transition: $speed;
		position: absolute;
		background: $primary-color;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
	}
	
	&:before{
		top: 0;
		left: 0;
		opacity: 1;
		color: $primary-color;
		display: block;
		padding: 0 30px;
		line-height: 40px;
		transition: $speed;
		position: relative;
		background: $secondary-color;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
	}
}


.body2{
  background-image: url(./Imagens/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inner-text-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  height: 30rem;
  margin-right: 3rem;
}


// WAVE 


body {
  margin:0;
}

.headerr {
  position:relative;
  text-align:center;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: $secondary-color;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

// FORMULARIO

.body3{
  background-image: url(./Imagens/backgroundbox3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  
  
}

.imgPhoto{
  border-radius: 50%;
  border: 1px $secondary-color solid;
  margin-bottom: 3.5rem;
}

.text-box3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem; 
}

.imgProfile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainBox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0.7rem;
  border: 1px $secondary-color solid;
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: 700;
}